.projectpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;

  min-height: 95vh;
}

.card {
  // width: 100%;
  max-width: 2000px;
  background-color: #444;
}

.carousel {
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  max-height: 1000px;
}

.project-link {
  font-size: 2rem;
}
.project-link:hover {
  color: white;
}

.card-img {
  background-color: gray;
}
.carousel-item img {
  background-color: gray;
}
.one-img {
  background-color: gray;
}
