.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 16vw;
  // padding-top: 15vh;
  color: white;
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 90%, black 100%),
    url("../../../public/aboutme_bg.jpg");
  background-size: cover;
  background-position: top;

  box-shadow: 2vh 2vh 2vh 5vh rgba(0, 0, 0, 0.3) inset;
}
.aboutme h1 {
  font-size: 2rem;
  color: rgb(0, 214, 255);
}
.aboutme p {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.aboutme span {
  color: #ffc800;
}

.aboutme .link {
  color: #ffc800;
}
.aboutme .link:hover {
  transform: scale(1.1);
}
